<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label>Receiver Name</label>
      <input
        class="form-control"
        (input)="onNameChange($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payee Date</label>
      <input
        type="date"
        class="form-control"
        (input)="onDateChange($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>Receiver Date</b></label>
      <div>
        {{ date | date: "MMMM d, y" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Amount</label>
      <input
        class="form-control"
        (input)="onAmountChange($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>Receiver Date</b></label>
      <div>{{ amount | currency: "KRW" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input
        class="form-control"
        (input)="onHeightChange($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>Height</b></label>
      <div>{{ height | number: "1.2-3" }}</div>
      <!-- to read this 1.0-0 = 1= at least 1 digit on the left and 0-0 no digit ont hte right-->
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input
        class="form-control"
        (input)="onMilesChange($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label><b>kilometers</b></label>
      <div *ngIf="(miles | converter: 'km') > 10">
        {{ miles | converter: "km" }}
      </div>
    </div>
  </div>
</div>

<!-- this object is use to debug the object and see tje value inside -->
{{ car | json }}
